# Ignore all
*

!gradlew

# Unignore all with extensions
!*.*

# Unignore all dirs
!*/

*.ipynb_checkpoints
*.virtual_documents
*__pycache__
*.bin
*.dat
*.exe
*.class
*.o
*.sln
*.vcxproj
*.vcxproj.filters
*.vcxproj.user
*.exe.recipe
*.iobj
*.ipdb
*.obj
*.tlog
*.pdb
*.lastbuildstate
*.log

build/
bin/
.vscode/
.vs/
[Dd]ebug/
x64/
.gradle/
