[submodule "OOP/12-exercise"]
	path = OOP/12-exercise
	url = https://github.com/DavideMancini10/12-exercise
[submodule "OOP/oop-lab06"]
	path = OOP/oop-lab06
	url = https://github.com/FireSoul04/lab06
